{% extends 'layouts/base.html.twig' %}

{% block title 'Profile' %}

{% block body %}
  <div class="row">
    <div class="col-md-6 mx-auto text-center">
     <h1 class="my-4"> Profile</h1>
      <img src="{{app.user.GravatarUrl(200)}}" class="shadow rounded-circle">
      
      <p class="mt-3 lead">{{app.user.email}}</p>
      
     <p> <small>Account createdt on {{app.user.createdAt|date('d/m/y')}}</small></p>

      <h2>{{app.user.fullName}}</h2>

      <p>
        <a href="{{path('app_account_edit')}}">Edit Account</a> | <a href="{{path('app_account_change_password')}}">Change Password</a>
      </p>

    </div>
  </div>
{% endblock %}
