{% extends 'base.html.twig' %}

{% block title 'Find all the best pins earth' %}

{% block body %}
 <h1>{{ pluralize(pins|length, 'Pin')}} </h1>
 {% for pin in pins %}
   <article>
    <h1><a href="{{path('app_pins.show', {id: pin.id})}}"> {{pin.title}}</a></h1>
    <p> {{pin.description|u.truncate(10, '...', false)}}</p>
    <p>Submitted {{pin.createdAt|ago}}</p>
   </article>
   {% endfor %}
{% endblock %}
